.infinite-carousel {
  position: relative;
  width: 100%;
  margin-top: 3rem;
  padding: 2rem 0;
  overflow: hidden;
  box-sizing: border-box;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0)
  );
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0)
  );
}

.carousel-scroller-inner {
  display: flex;
  gap: 1rem;
  width: fit-content;
  will-change: transform;
}

.carousel-item-infinite {
  flex-shrink: 0;
  width: 200px;
  height: 130px;
  border-radius: 12px;
  border: 1px solid #c5c278;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.carousel-item-infinite:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 30px #c5c378ac;
}

.carousel-item-infinite img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50%));
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .carousel-item-infinite {
    width: 200px;
    height: 200px;
  }

  .carousel-scroller-inner {
    gap: 1rem;
    animation: scroll 30s linear infinite;
  }
}
